spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - profile
              - email
  mongodb:
    database: bookview
    uri: mongodb://localhost:27017

server:
  port: 8080

logging:
  level:
    root: INFO
    com.woocurlee.bookview: INFO
    org.springframework.web: WARN
    org.springframework.security: WARN
    org.springframework.security.oauth2: WARN
    org.springframework.data.mongodb: WARN
    org.mongodb.driver: WARN
